# Fill and rename to .env
RPC_URL=https://eth-mainnet.g.alchemy.com/v2/9i5WwzqMWjEtWYz_Xxbgh
ETHERSCAN_API_KEY=5WNP5HBZDKNC6RCM4IKIIZSH1ESS1BVC4V
CHAIN_ID=1
FORK_BLOCK=21000000
# Optional
MODE=STRICT
